<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Hello, Vuescale!</title>
  </head>
  <body>
    <script type="text/javascript" src="https://unpkg.com/vue"></script>
    <script type="text/javascript" src="../vuescale-example-fastopt.js"></script>
    <div id="app">
      <h3>{{ title }}</h3>
      <input type="text" v-model="input" @keyup.enter="addTodo">
      <div v-for="todo in todos" :key="todo.id">
        <span v-if="todo.done">
          <s>{{ todo.name }}</s>
        </span>
        <span v-else>{{ todo.name }}</span>
        <input type="checkbox" @click="checkTodo(todo)">
      </div>
      <todo-footer></todo-footer>
    </div>
    <script>
      vuescale.example.Hello.main();
    </script>
  </body>
</html>
